<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
        <h3 class="text-3xl mb-5">Update User Name</h3>
        <form action="/update" method="POST">
            <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" type="email" name="email" placeholder="Enter Email" required>
            <input class="px-3 py-2 rounded-md outline-none bg-transparent border-2 border-zinc-800" type="text" name="newName" placeholder="Enter New Name" required>
            <input class="px-5 py-2 bg-blue-500" type="submit" value="Update User Name">
        </form>
    </div>    
</body>
</html>